body {
  background-image: url("https://previews.123rf.com/images/gonin/gonin1507/gonin150700073/42848307-%E6%8A%BD%E8%B1%A1%E7%9A%84%E3%81%AA%E9%9D%92%E7%99%BD%E3%81%AE%E5%B9%BE%E4%BD%95%E5%AD%A6%E7%9A%84%E3%81%AA-web-%E3%81%AE%E8%83%8C%E6%99%AF.jpg");
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
